# Домашка 7: АБ-тесты

Давайте представим, что у нас с вами есть сервис, который работает по подписке (онлайн игра, стриминговый сервис, например). Один из важных факторов успешности бизнеса в таком случае - это удержание пользователей, нам надо придумать, как заинтересовать пользователя в продлении подпсики. Возникла идея дать скидку в 1% на продление подписки. Чтобы оценить эфект от этой идеи мы как-то разбили пользователей, которые купили подписку за период теста, на две группы и одним дали скидку на продление, а другим нет. Давайте посмотрим на данные.

In [2]:
import pandas as pd

df = pd.read_csv('subscribers_1.csv', sep=',')
df.head(5)

,user_id,service_id,product_name,product_duration,rn,sale_date,last_duration_days,new_duration_days,is_same,group
0,47233,929,subscription,1_month,1,2018-12-21,30.0,30,1,0
1,50195,929,subscription,1_month,1,2019-03-17,30.0,30,1,1
2,62594,929,subscription,1_month,1,2019-02-08,30.0,30,1,0
3,68918,929,subscription,1_month,2,2019-03-19,30.0,30,1,1
4,91900,929,subscription,3_month,1,2018-10-29,30.0,90,0,0

* `rn` - порядковый номер покупки подписки за период.  
* `last_duration_days` - длительность предыдущей подписки.
* `new_duration_days` - длительность текущей подписки.
* `is_same` - менялась ли длительность подписки.
* `group` - группа теста, в которую попал пользователь. 1 - тест, 0 - контроль.


__Задание 1 [5]__ 

Давайте посчитаем результаты АБ - теста и поймем, достигли ли мы цели.

__Подсказка - инструкция:__ Для того, чтобы понять, есть ли разница в конверсиях нужно построить доверительный интервал для разницы долей и посмотрим, попал ли туда $0$, либо использовать $z$-критерий для долей.

In [ ]:
# место для кода

__Задание 2 [5]__ 

А теперь представим, что мы продвинутые АБ-тестеры и решили провести ААБ тест (2 контрольные группы и одну тестовую).

In [3]:
df_2 = pd.read_csv('subscribers_2.csv', sep=',')
df_2.head(5)

,user_id,service_id,product_name,product_duration,rn,sale_date,last_duration_days,new_duration_days,is_same,new_group
0,47233,929,subscription,1_month,1,2018-12-21,30.0,30,1,0
1,50195,929,subscription,1_month,1,2019-03-17,30.0,30,1,2
2,62594,929,subscription,1_month,1,2019-02-08,30.0,30,1,0
3,68918,929,subscription,1_month,2,2019-03-19,30.0,30,1,2
4,91900,929,subscription,3_month,1,2018-10-29,30.0,90,0,0

* `new_group` - группа теста, в которую попал пользователь. 2 - тест, 0,1 - контроль.

In [ ]:
# место для кода

Какие выводы можно сделать из этого теста? Валиден ли такой тест? Если нет, то в чем может быть проблема?

__Ответ:__

Описать свои ощущения от последней кодинговой домашки можно в [анонимке.](https://docs.google.com/forms/d/e/1FAIpQLSc8A_lPIugqOFnutoiLENEaP93Tw7pu-l3c1QCBlZ65uKvEkg/viewform)